.wrapper {
  margin: 0 auto;

  color: var(--color-text-secondary);
  background-color: var(--color-bg-info);
  background-repeat: no-repeat;
  background-position: bottom;
}

.wrapper > :global(.container) {
  padding: 40px 16px;
}

.call {
  display: block;
  margin-bottom: 20px;

  font-size: var(--font-size-xl);
  font-weight: 700;
  line-height: calc(18 / 16);
  text-transform: uppercase;
}

.form {
  position: relative;

  display: flex;
  align-items: center;
  column-gap: 15px;
}

.form input {
  padding: 17px 15px;
  height: 50px;
  max-width: 265px;
  width: 100%;

  font-size: var(--font-size-xs);
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid var(--color-bg-primary);
  border-radius: 10px;
}

.form input:focus {
  border-color: var(--color-text-tertiary);
}

.form .invalid {
  border-color: var(--color-danger);
}

.form button {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-accent);
  background-color: var(--color-bg-primary);
  border-radius: 50%;
}

.error {
  position: absolute;
  top: 120%;

  font-weight: 300;

  color: var(--color-danger);
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 768px;

    background-color: var(--color-bg-primary);
    background-image: url('images/footer/bg-s.png');
  }

  .wrapper :global(.container) {
    padding: 80px 16px 69px;

    background: url('images/footer/bg-mother.png') no-repeat right 16px bottom;
  }

  .call {
    max-width: 363px;
    margin-bottom: 15px;

    font-size: var(--font-size-xxl);
  }

  .form {
    max-width: 363px;
  }

  .form input {
    max-width: 300px;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper {
    max-width: 1000px;

    background-image: url('images/footer/bg-l.png');
  }

  .wrapper :global(.container) {
    padding: 80px 30px 70px;

    background-position: right 30px bottom;
  }
}

@media screen and (min-width: 1350px) {
  .wrapper {
    max-width: 1920px;

    background-image: url('images/footer/bg-xl.png');
  }

  .wrapper :global(.container) {
    padding: 120px 30px 90px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    width: 100%;

    background-position: right 136px bottom;
  }

  .call {
    margin: 0;
    max-width: 335px;

    line-height: calc(20 / 16);
  }

  .form input {
    width: 300px;
  }
}
