.link {
  display: flex;
  align-items: center;

  font-weight: 300;
  font-size: var(--font-size-xs);
  line-height: calc(16 / 14);

  color: var(--color-accent);
}

.link:hover,
.link:focus {
  color: var(--color-accent-hover);
}

@media screen and (min-width: 768px) {
  .link {
    font-size: var(--font-size-s);
  }
}
