.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.15);
  overflow: auto;
}

.modal {
  position: relative;

  max-width: 266px;
}

.mainMenu {
  color: var(--color-text-secondary);
  background-color: var(--color-accent);
}

.mainMenu,
.catalogMenu,
.categoryMenu {
  padding: 30px 16px;
  min-height: 100vh;
}

.catalogMenu,
.categoryMenu {
  color: var(--color-text-primary);
  background-color: var(--color-text-secondary);
}

.catalogBtn {
  padding: 30px;
  margin-bottom: 40px;
  display: flex;
  align-items: baseline;
  column-gap: 10px;
  width: 100%;

  font-size: var(--font-size-l);
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary-hover);
  border-radius: 20px;
}

.catalogBtn > svg {
  fill: var(--color-accent);
  stroke: var(--color-accent);
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: -45px;

  display: flex;

  color: var(--color-text-secondary);
}

.btn {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  column-gap: 10px;

  font-weight: 500;
  font-size: var(--font-size-l);
  line-height: calc(19 / 17);
  color: var(--color-text-primary);
}

.btn svg {
  width: 13px;
  height: 7px;

  color: var(--color-accent);
  transform: rotate(90deg);
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  font-weight: 300;
  font-size: var(--font-size-s);
  line-height: calc(17 / 15);
  letter-spacing: 0.01rem;
  color: var(--color-text-primary);
}
