.container {
  margin: 0 auto;
  padding: 0 16px;
  min-width: 360px;
  max-width: 480px;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 30px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1350px) {
  .container {
    max-width: 1350px;
  }
}
