.header {
  padding: 20px 0;
  min-width: 360px;

  color: var(--color-text-secondary);
  background-color: var(--color-accent);
}

.header > :global(.container) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.box {
  display: flex;
  column-gap: 10px;
}

.menuBtn {
  display: flex;
  align-items: center;
}

.logo > svg {
  width: 90px;
  height: 20px;

  color: var(--color-text-secondary);
}

.form {
  display: none;
  flex-grow: 1;
}

.wrapper {
  position: relative;
}

.wrapper > input {
  padding: 14px 38px 14px 14px;
  width: 100%;

  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-bg-primary);
  border-radius: 10px;
}

.wrapper > button {
  position: absolute;
  top: 50%;
  right: 15px;

  transform: translateY(-50%);
}

.actions {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.actions button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.number {
  position: absolute;
  top: -6px;
  right: -9px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  background-color: transparent;
  border-radius: 50%;
}

.number.active {
  width: 15px;
  height: 15px;

  background-color: var(--color-bg-info);
}

.number.hidden {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 14px 0;
  }

  .box {
    column-gap: 30px;
  }

  .logo > svg {
    width: 138px;
    height: 32px;
  }

  .form {
    display: block;
  }

  .actions {
    column-gap: 30px;
  }

  .actions > li:first-child {
    display: none;
  }

  .number {
    position: static;

    font-size: var(--font-size-s);
  }

  .number.active {
    width: 21px;
    height: 21px;
  }
}
