.label {
  position: relative;

  display: flex;
  align-items: center;
  column-gap: 10px;

  cursor: pointer;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.icon {
  position: relative;

  display: inline-block;
  width: 20px;
  height: 20px;

  border: 1px solid var(--color-border-active);
  border-radius: 2px;
}

.icon::after {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;

  display: inline-block;
  width: 10px;
  height: 10px;

  background-color: var(--color-accent);
  border-radius: 2px;

  transform: translate(-50%, -50%);
  transition: opacity 250ms ease-in-out;
  opacity: 0;
}

.checkbox:focus + .icon::after,
.checkbox:checked + .icon::after {
  opacity: 1;
}
