.section {
}

.section:not(:last-child) {
  margin-bottom: 60px;
}

.box {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: var(--font-size-xl);
  line-height: calc(20 / 18);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-text-primary);
}

.label {
  padding: 5px;
  display: inline-flex;

  font-weight: 700;
  font-size: var(--font-size-xs);
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--color-bg-info);
  background-color: var(--color-bg-info-blur);
  border-radius: 10px;
}

.link {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-accent);
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .section:not(:last-child) {
    margin-bottom: 80px;
  }

  .title {
    font-size: var(--font-size-xxl);
  }

  .label {
    font-size: var(--font-size-s);
  }
}
