.section {
}

.section:not(:last-child) {
  margin-bottom: 60px;
}

.title {
  margin-bottom: 30px;

  font-size: var(--font-size-xl);
  line-height: calc(20 / 18);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-text-primary);
}

@media screen and (min-width: 768px) {
  .section:not(:last-child) {
    margin-bottom: 80px;
  }

  .title {
    font-size: var(--font-size-xxl);
  }
}
