.footer {
  position: relative;

  min-width: 360px;
}

.contactInfo {
  padding: 40px 0;

  color: var(--color-text-secondary);
  background-color: var(--color-accent-hover);
}

.contactInfo > :global(.container) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 15px;
}

.number {
  font-size: var(--font-size-xl);
  font-weight: 700;
  line-height: calc(20 / 18);
}

.email {
  font-size: var(--font-size-xs);
  font-weight: 300;
  line-height: calc(16 / 14);
  text-decoration: underline;
}

.location {
  font-size: var(--font-size-xs);
  font-weight: 300;
  line-height: calc(18 / 16);
}

.socials {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.socials a {
  display: flex;

  color: var(--color-text-quaternary);
}

.additionalInfo {
  padding-top: 40px;

  font-weight: 300;
  color: var(--color-text-secondary);
  background-color: var(--color-accent);
}

.box > div {
  margin-bottom: 35px;
}

.wrapper {
  background-color: var(--color-accent);
}

.title {
  margin-bottom: 20px;

  font-size: var(--font-size-xl);
  line-height: calc(20 / 18);
  text-transform: uppercase;
}

.list {
  display: grid;
  grid-template: repeat(5, auto) / repeat(auto-fit, minmax(100px, auto));
  grid-auto-flow: column;
  align-items: baseline;
  gap: 15px 36px;

  font-size: var(--font-size-xs);
}

.sign {
  padding-bottom: 40px;
}

.copyright {
  margin-bottom: 12px;

  font-size: var(--font-size-xs);
  font-weight: 300;
  line-height: calc(16 / 14);
  color: #f3a8bf;
}

.payment {
  display: flex;
  column-gap: 10px;
}

.payment > li {
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .number {
    font-size: var(--font-size-xxl);
  }

  .email {
    font-size: var(--font-size-s);
  }

  .location {
    font-size: var(--font-size-s);
  }

  .box {
    display: flex;
    column-gap: 50px;
  }

  .box > div:last-child {
    width: auto;
  }

  .title {
    font-size: var(--font-size-xxl);
  }

  .list {
    font-size: var(--font-size-s);
  }
}

@media screen and (min-width: 1350px) {
  .wrapper {
    background-color: var(--color-accent);
  }

  .block {
    margin: 0 auto;

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px 140px;
    max-width: 1350px;
    padding: 60px 30px 62px;
  }

  .box {
    column-gap: 100px;
  }

  .box > div {
    margin: 0;
  }

  .list {
    column-gap: 54px;
  }

  .contactInfo {
    padding: 30px;
    width: 300px;

    border-radius: 20px;
  }

  .contactInfo :global(.container) {
    padding: 0;
    min-width: auto;
  }

  .additionalInfo {
    padding: 0;
  }

  .additionalInfo :global(.container) {
    padding: 0;
  }

  .location {
    line-height: calc(18 / 14);
  }

  .sign {
    padding-bottom: 0;
  }

  .sign :global(.container) {
    padding: 0;
  }

  .copyright {
    margin-bottom: 10px;
  }
}
