.links {
  margin-bottom: 40px;

  font-size: var(--font-size-s);
  font-weight: 300;
  line-height: calc(17 / 15);
}

.links > li:not(:last-child) {
  margin-bottom: 30px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.phone {
  font-size: var(--font-size-l);
  font-weight: 500;
  line-height: calc(19 / 17);
}

.socials {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.socials a {
  display: flex;

  color: var(--color-text-quaternary);
}

.langs {
  display: flex;

  font-weight: 700;
}

.langs li:not(:last-child) {
  border-right: 1px solid currentColor;
}

.langs li:first-child {
  padding-right: 9px;
}

.langs li:last-child {
  padding-left: 9px;
}

.langBtn {
  font-size: var(--font-size-s);
  line-height: calc(17 / 15);
  color: var(--color-text-quaternary);
  text-decoration: underline;
}

.langBtn:global(.active) {
  color: var(--color-text-secondary);
  text-decoration: none;
}

.loginBtn {
  display: flex;
  align-items: center;
  column-gap: 10px;

  font-size: var(--font-size-s);
  font-weight: 500;
  line-height: calc(17 / 15);
  text-decoration: underline;
}

@media screen and (min-width: 1350px) {
  nav {
    align-self: center;
  }

  .links {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  .links > li:not(:last-child) {
    margin: 0 20px 0 0;
  }

  .contactInfo {
    margin-left: auto;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
  }
}
